*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    /* background-image: url("../assets/bg.png"); */
    background-color: #F7F7F7;
}
/* -----shared item-------- */
.flex{
    display: flex;
}
.hide{
    display: none;
}
.all-btn{
    color: aliceblue;
    background-color: #000000;
    padding: 10px 50px 10px 50px;
    border: 0;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 10px;
}

/* ----------Header section------- */
.nav-header{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.nav-logo{
    align-items: center;
    gap: 10px;
}
.nav-links{
    list-style: none;
    gap: 30px;
}
.nav-link-1{
    color: #fdab18;
}
.nav-link-2{
    color: #188efd;
}
.nav-link-3{
    color: #03eaf2;
}
.nav-link-4{
    color: #4f0dc1;
}
.nav-btn{
    color: aliceblue;
    background-color: #fdab18;
    padding: 10px 45px 10px 45px;
    border: 0;
    border-radius: 15px;
    font-size: 20px;
}


.nav-header .menu-icon{
    display: none;
    flex-direction: column;
    gap: 5px;

}
.nav-header .menu-icon div {
        width: 25px;
        height: 3px;
        background-color: black;
}
marquee {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border: 2px solid rgb(0, 197, 251);
    background-color: #01acfd;
    padding: 10px;
    font-weight: 500;
}
/* -------hero container section--------------- */
.hero-container{
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;    
}
.hero-containt h1{
    font-size: 3rem;   
}
.hero-containt p{
    font-size: 1rem; 
    margin: 10px 0 10px 0;  
}

.age{
    color: #188efd;
}
.bold{
    color: #fdab18
}
/* ----------card section---------- */
.cariculam-h1{
    text-align: center;
    margin-bottom: -30px;
    font-weight: 600;
    font-size: 30px;
}
.card-section{
    width: 100%;
    justify-content: center;
    padding: 120px;
    align-items: center;
    gap: 70px;
    
}
.card-1, .card-2, .card-3{
    text-align: center;
    width: 300px;
    height: 400px;    
}
.card-1{
    padding: 20px;
    background-image: linear-gradient(180deg, #E7F8FF 5%, rgb(255, 255, 255) 40%);
    border-radius: 10px;
}
.card-1 img, h1, p{
    margin-bottom: 30px;
}
.card-1 button{
    background-color: #ffffff;
    border: 0;
    color: #107dbc;
}
.card-2{
    padding: 20px;
}
.card-2 img, h1, p{
    margin-bottom: 30px;
}
.card-2{
    padding: 20px;
    background-image: linear-gradient(180deg, #fef5e2 5%, rgb(255, 255, 255) 40%);
    border-radius: 10px;
}
.card-2 img, h1, p{
    margin-bottom: 30px;
}
.card-2 button{
    background-color: #ffffff;
    border: 0;
    color: #fec806;
}

.card-3{
    padding: 20px;
    background-image: linear-gradient(180deg, #F0E5FE 5%, rgb(255, 255, 255) 40%);
    border-radius: 10px;
}
.card-3 img, h1, p{
    margin-bottom: 30px;
}
.card-3 button{
    background-color: #ffffff00;
    border: 0;
    color: #7a15ff;
}

.card-3{
    padding: 20px;
}
.card-3 img, h1, p{
    margin-bottom: 20px;
}
.arrow-btn{
    text-align: center;
    
}
.btn-1, .btn-2{
    padding: 20px;
    background-color: #fdab18;
    border: 0;
    color: #E7F8FF;
    font-size: 30px;
    border-radius: 50%;    
}
/* -----------story section---------- */
.section-of-story{
    background-image: url("../assets/bg.png"), linear-gradient(360deg, #fef5e2 5%, rgb(255, 255, 255) 40%);
    background-position: cover;
}
    

.our-story{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
}
.card-section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    
}
.card-contain1{
    padding: 30px;
    background-color: rgba(255, 255, 255, 0);  

}
.card-contain1 img {
margin-right: 150px;

}
.card-contain1, h2{
    margin-left: 0px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 1.6rem;
}
.s-p{
    margin-top: 30px;
    font-size: 14px; 
}


.card-btn-1{
    position: relative;
    margin-left: -480px;
    padding: 10px 45px 10px 45px;
    background-color: aquamarine;
    border: 0;
    border-radius: 20px;
}
/* .................................. */
.card-contain2{
background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card2{
    width: 100%;
         
}
.card2 img{
    width: 90%;
    border-radius: 20px 20px 0 0;
}
.card-btn-2{
    position: relative;
    margin-left: -180px;
    padding: 10px 25px 10px 25px;
    background-color: aquamarine;
    border: 0;
    border-radius: 20px;
    
}
.card-btn-3{
    position: relative;
    margin-left: -190px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(255, 247, 0);
    border: 0;
    border-radius: 20px;
}
.card-btn-4{
    position: relative;
    margin-left: -190px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(0, 64, 255);
    border: 0;
    border-radius: 20px;
}
.card-btn-5{
    position: relative;
    margin-left: -190px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(2, 241, 249);
    border: 0;
    border-radius: 20px;
}
.story-btn{
    text-align: center;
    margin-bottom: 10px;
}
/* ....................footer-section---------------- */
.footer-container{
    width: 100%;
    background-color: aqua;
    gap: 30px;
    justify-content: center;
    
}
.footer-logo{
    align-items: center;
}
.footer-logo h1{
    color: aliceblue;
}
.footer-container p{
    color: aliceblue;

}
.footer-container p, h1, li, img{
    margin-top: 20px;
    } 
.footer-list{
    list-style: none;
    color: aliceblue;
}
.footer-list li{
    margin-bottom: 20px;
}
.social{
    margin-left: 120px;
    color: aliceblue;
}

/* ---------responsibe section------- */
@media screen and (max-width:576px){
    /* nav section responsible */
    .nav-links, .nav-btn, .logo-header{
        display: none;
    }
    .nav-header{
        justify-content: space-between;
        padding:10px;
        border-bottom:1px solid #fdab18;
    }
    .nav-header .menu-icon{
        display: flex;
    }
 /* -----------hero container-------- */

 .hero-container{
    width: 100%;
    flex-direction: column-reverse;
    padding: 30px;
 }
 .hero-container{
    text-align: center;
 }
 .hero-container h1{
    font-size: 1.9rem;
 }
 .hero-container img{
    width: 100%;
 }
/* ......... card section..... */
.cariculam-h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;}
.card-section{
    flex-direction: column;
    gap: 10px;
    padding: 0px;
}
.arrow-btn{
    display: none;
}
  
.card-contain1{
    display: none;
}
.card-section-1{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.card-contain2{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    
}
.card2{
    width: 150px;
   background-color: #ffffff00;  
}
.card-btn-2{
    position: relative;
    margin-left: -110px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(2, 241, 249);
    border: 0;
    border-radius: 20px;
    width: 60%;
}
.card-btn-3{
    position: relative;
    margin-left: 50px;
    margin-top: -100px;
    padding: 0px 5px 0px 5px;
    background-color: rgb(2, 241, 249);
    border: 0;
    border-radius: 20px;
    width: 60%;
}
.card-btn-4{
    position: relative;
    margin-left: 50px;
    margin-top: -100px;
    padding: 0px 5px 0px 5px;
    background-color: rgb(2, 241, 249);
    border: 0;
    border-radius: 20px;
    width: 60%;
}
.card-btn-5{
    position: relative;
    margin-left: 50px;
    margin-top: -100px;
    padding: 0px 5px 0px 5px;
    background-color: rgb(2, 241, 249);
    border: 0;
    border-radius: 20px;
    width: 60%;
}
.card2 h4{
    padding: 20px;
}
.card2 img{
    border-radius: 10px;
    width: 100%;
}
/* ....................footer------------ */
.footer-container{
    flex-direction: column;
    width: 100%;
    padding: 0px;
}
.social{
margin-left:0px;
color: aliceblue;
}
.footer-container p, h1, li, img{
margin-left: 20px;
}  
}
